* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.member_projects_list {
    color: white;
    padding: 40px;
    font-size: 30px;
    margin: auto;
    width: 50%;
}

.about_header {
    color: white;
    padding: 40px;
    margin: auto;
    width: 50%;
}

body {
    font-family: montserrat;
    background: #1c1c1c;
}

nav {
    background: #2b694e;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 40px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,a:hover {
    background: #1c1c1c;
    color: #white;
    transition: .5s;
}
