<!DOCTYPE html>

<html>
    <head>
        <title>test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body>
        <div class="top_bar">
            <br><br>
            <a class="top_title" href=/>test</a>
        </div>
        <div class="main_div">
            <div class="main_text">
		<h1>hello world</h1>
            </div>
            <div class="next_right">
                <a class="top_title" href=/about>about</a>
		<h2>hello world 2</h2>
            </div>
            </div>
        </div>
        <div class="bottom">
	    <center style="padding-top: 15px;"><p>hello world</p></center>
        </div>
    </body>
</html>
