<!DOCTYPE html>

<html>
    <head>
        <title>JCSComp - About</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <label class="logo">jcscomp</label>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/member_projects">Member Projects</a></li>
                <li><a href="/robotics">Robotics</a></li>
                <li><a href="/contribute">Contribute</a></li>
                <li><a class="active" href="/about">About</a></li>
            </ul>
        </nav>
        <div class="about_header">
            <h1>About</h1>
            <br>

            <h2>2021-2022 Student Leaders:</h2>
            <p>President: Lukas Nitzsche</p>
            <p>Vice-President: Milan Milisavljevic</p>
            <p>Secretary: Jonathan Qu</p>
            <p>Activities Chair: Zakariya Hashmi</p>
            <br>

            <h2>Club Information</h2>
            <!-- <p>REMIND Code 81010 @jccomputer</p> -->
            <p>Meeting Time: Day 4 12:00</p>
            <p>Meeting Location: Rock Rm 324</p>
            <h3>Dates for 2 Open Events during 2021-2022:</h3>
            <p>Two LAN parties (one each semester). LAN Parties will be held on campus as an event to
                allow students to gather and be involved in group activities. Typically this includes
                gaming tournaments, group computer programming, and online competitions. These are
                normally held on days where there are no classes scheduled.</p>

            <br>

            <h2>The Robotics Team Mission Statement</h2>
            <p>The Robotic Club offers students the opportunity to design, build and test robots for
                in-class and off-campus competitions.</p>

            <br>

            <h2>Club Information</h2>
            <!-- <p>REMIND Code 81010 @jcrobotics</p> -->
            <p>Meeting Time: Day 4 12:00</p>
            <p>Meeting Location: Rock Rm 324</p>
            <p>Main Activity during 2021-2022:</p>
            <p>Design and build a robot for the participation of the VEX competition.</p>

            <br>

            <h2>2021-22 Leadership:</h2>
            <p>Captain: Rushika Prasad and Francis Liu</p>
            <p>Commander: Lukas Nitzsche</p>
            <p>Lieutenant: Zakariya Hashmi</p>
            <p>Manager: Ian DeVries</p>
        </div>
    </body>
</html>
