<!DOCTYPE html>

<html>
    <head>
        <title>JCSComp - Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <label class="logo">jcscomp</label>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/member_projects">Member Projects</a></li>
                <li><a href="/robotics">Robotics</a></li>
                <li><a class="active" href="/contribute">Contribute</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <h1>https://github.com/systemb4/jcs-comp-club-site/</h1>
    </body>
</html>
