<!DOCTYPE html>

<html>
    <head>
	<title>JCSComp</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
	<div class="title">
	    <center><h2>JCS Computer Club</h2></center>
	</div>
	<div class="menu">
	    <nav>
		<ul>
		    <li><a href="/"><b>home</b></a></li>
		    <li><a href="/"><b>about</b></a></li>
		    <li><a href="/tutorial_video"><b>tutorial</b></a></li>
		</ul>
	    </nav>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div class="mainHome">
	    <a href="/JoeStudent"><h2>Joe Student</h2></a>
	</div>
    </body>
</html>
