<!DOCTYPE html>

<html>
    <head>
        <title>JCSComp - Projects</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <label class="logo">jcscomp</label>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a class="active" href="/member_projects">Member Projects</a></li>
                <li><a href="#">Robotics</a></li>
                <li><a href="#">Contribute</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <div class="member_projects_list">
            <a href="/JoeStudent"><p>Joe Student</p></a>
            <a href="/Francis"><p>Francis Liu</p></a>
        </div>
    </body>
</html>
