<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>
	Jcs Comp
	</title>
	<script src="https://kit.fontawesome.com/771a2c896f.js" crossorigin="anonymous"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<style>
	.rotate {
	  animation: rotation 8s infinite linear;
	}

	@keyframes rotation {
	  from {
		transform: rotate(0deg);
	  }
	  to {
		transform: rotate(359deg);
	  }
	}

	body {
		max-width: 100%;
	}
	</style>
</head>

<body>
	<div style = "text-align: center;">
	<img src = "https://media.discordapp.net/attachments/839998624841596970/900059319884738620/userphoto.jpg" class = "rotate" style = "width: 15%; height: 15%;" >
	<img src = "https://media.discordapp.net/attachments/884618260937580584/884619535427199046/homePage.png?width=1393&height=617" style= "width: 40%; height: 40%">
	<img src = "https://media.discordapp.net/attachments/839998624841596970/900059319884738620/userphoto.jpg" class = "rotate" style = " width: 15%; height: 15%;">
	<br style = "line-height: 200px"></br>
	<iframe width="560" height= "315" src="https://www.youtube.com/embed/snvryYZsSY0" title="YouTube video player" style = "" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p style = "font-size: 100">gamer RGB</p>
	<img src = "https://i.pinimg.com/originals/52/66/7b/52667bd7713ebf3c0620fb7570463ab5.gif" style = "width: 20%; height: 20%">
	</div>
</body>
